@import './variables.scss';
@function rem($px){
  @return $px/12px *1rem; 
}
$g-muted-color:                       #C3C3C3;
$g-primary-color:                     #DBB769;
$g-success-color:                     #559924;
$g-warning-color:                     #faa05a;
$g-danger-color:                      #E74341;
$g-price-color: #06c1ae;
$g-none-color: #f5f5f9;

$btn-primary-color: #f90;
$btn-theme-color: #f90;

@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
//正方形行内快元素
@mixin squre($width){
  width: $width;
  height: $width;
  display: inline-block;
}
//圆形图片
@mixin cimg($r){
  width: $r;
  height: $r;
  display: inline-block;
  border-radius: 50%;
}
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
@mixin flexB{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin  shadowBottom($color:#ccc,$blur:10px) {
  box-shadow: 1px 1px $blur $color;
}