@import './mixin.scss';
//全局的表单样式（只有border-bottom）
.g-form-line{
  width: 90%;
  margin: 0 auto;
  .am-list-body{
    background-color: transparent;
    &::before,&::after{
      background-color: transparent!important;
    }
    .am-list-line{
      border-bottom: #fff solid 1px !important;
      &::after{
        display: none!important;
      }
    }
  }
  .am-list-item{
    background-color: transparent;
    .am-input-label{
       color: #fff;
    }
    .am-input-control input{
      color: #fff;
    }
  }
  .am-list-footer{
    color: #fff;

  }
}
//其中grow-item为自适应的card样式
.g-mycard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .grow-item{
    flex-grow: 1; 
  }
}
.g-box{
  background: #fff;
  width: 100%;
  margin-top: 20px;
  .header{
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
  }
}
.g-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
  .am-tab-bar-tab-icon{
    img{
      width: 22px;
      height: 22px;
    }
  }
}
.g-container{
  background: #fff;
  padding: 10px 20px 60px;
}
.g-pop-modal{
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background: #fff;
  opacity: 0;
  transition: all .6s ease;
  padding-top: 45px;
}
.g-list{
  .am-input-control input{
    text-align: right;
  }
  .am-list-item .am-list-line .am-list-extra{
    flex-basis: 60%;
  }
}
.g-coming-soon{
  background: url(/static/imgs/comingsoon.jpg);
  width: 100%;
  position: fixed;
  top: 45px;
  bottom: 0;
  background-position: center;
}
.g-btn-bottom{
    background-color: #ddd;
    height: rem(60px);
    position: fixed;
    bottom: 0;
    width: 100%;
    .am-button{
      width: 86%;
      display: block;
      margin: 0 auto;
      height: rem(40px);
      margin-top: rem(10px);
      line-height: rem(40px);
    }
}
.upload-single-img{
  position: relative;
  .am-flexbox-item{
    position: absolute;
    right: 0;
  }
}