@import '@/styles/mixin.scss';
.m-business{
  background: #eee;
  .score{
    display: inline-block;
    width: rem(100px);
    height: rem(21px);
    background: url(/static/imgs/business/score.png) center no-repeat;
    background-position: 0 3px;
    background-size: rem(100px) auto;
  }
  .info{
    img{
      width: 100%;
    }
  }
  .cost-box{
    padding: 10px 16px;
    background-color: #fff;
  }
  .buy-box{
    display: flex;
    margin-top: 0;
    height: rem(30px);
    line-height: rem(30px);
    margin-bottom: rem(15px);
    .price{
      color: $g-price-color;
    }
    .sum{
      font-size: 2rem;
      margin-right: 0.3rem;
    }
    .past{
      -webkit-box-flex: 1;
      -webkit-box-align: end;
      display: -webkit-box;
      margin-bottom: 0.5rem;
      line-height: .6rem;
    }
    .last{
      padding-top: 0.4rem;
      margin-right: .5rem;
    }
    .buy-btn{
      height: rem(24px);
      color: #fff;
      background-color: #f90;
      border-radius: rem(6px);
      text-align: center;
      line-height: rem(24px);
      display: block;
      font-size: rem(12px);
      padding: 0 rem(6px);
      position: absolute;
      right: rem(12px);
    }
  }
  .detail-info{
    .sale-info{
      margin-top: rem(10px);
    }
    .sale-info span{
      height: rem(21px);
      display: inline-block;
      line-height: rem(21px);
    }
    .shop-name{
      font-size: 18px;
      font-weight: bold;
    }
 
    .location{
      margin-top: 10px; 
    }
  }
  .content-box{
    background-color: #fff;
    margin-top: 10px;
    .content{
      padding: 10px;
    }
    .title{
      border-bottom:1px solid #ddd;
      font-size: 16px;
      font-weight: 900;
      padding: 10px;
    }
  }
  .other-meallist{
    padding: 10px;
    .meal-name{
      margin-bottom: 10px;
    }
    .new-price{
      color: #06c1ae;
      font-size: 20px;
    }
    .old-price{
      color: #ccc;
    }
    li{
      border-bottom: 1px solid #ccc;
      padding: 8px 3px;
      &:last-child{
        border-bottom: none;
      }
    }
  }
  .comment-list{
    .item{
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
    .avater{
      @include cimg(36px);
      margin-right: 10px;
    }
  }
}
.am-number-keyboard-item{
  line-height: 50px;
}
.am-list-extra{
  flex-basis: 60%;
}
