@import '@/styles/mixin.scss';
.g-user{
  background-color: #eee;
.user-header{
  position: relative;
  background: linear-gradient(to right, #35e3e3, #00c4ff);
  height: 170px;
  span{
    position: relative;
  }
  .iconmeg{
    position: absolute;
    right: 20px;
    top: 12px;
    font-size: 24px;
  }
  .iconuser{
    margin: 12px 0 0 16px;
    display: inline-block;
    font-size: 20px;
  }
  .am-badge{
    position: absolute;
    top: -10px;
    left: 10px;
  }
  .avatar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
  }
  .userinfo{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: #fff;
    
  }
  .name{
    font-size: 20px;
    line-height: 26px;
  }
  .level{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
    font-size: 12px;
    border: 1px #fff solid;
    border-radius: 10px;  
  }
  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
}
  .menu{
    display: flex;
    width: 90%;
    margin: -40px auto 0;
    position: relative;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color:#fff;
    border-radius: 14px;
    img{
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .item{
      text-align: center;
    }
  }
  .menu-list{
    .iconfont{
      font-size: 25px; 
    }
  }
}

.m-about{
  background: #fff;
  min-height: 100vh;
  img{
    width: rem(120px);
    display: block;
    margin: rem(30px) auto;
  }
  h3{
    font-size: rem(20px);
    font-weight: 900;
    text-align: center;
  }
  p{
    text-align: center;
    padding: rem(10px);
  }
  .version{
    font-size: rem(12px);
    color: #ccc;
  }
}

.discount-list{
  padding: rem(16px);
  .item{
    background-color: #fff; 
    border-radius: rem(4px);
    position: relative;
    margin-bottom: rem(16px);
    @include shadowBottom();
    &::after,&::before{
      content: '';
      width: rem(20px);
      height: rem(20px);
      position: absolute;
      display: block;
      background-color: $g-none-color;
      
      border-radius: 50%;
      top: rem(100px);
    }
    &::before{
      border-right: 1px solid #ccc;
      left: 0;
      transform: translate(-50%,-50%);
    }
    &::after{
      border-left: 1px solid #ccc;
      right: 0;
      transform: translate(50%,-50%);
    }
  }
  .g-mycard{
    padding: rem(20px) rem(14px);
    height: rem(60px);
    border-bottom: 1px dashed #ccc;
  }
  .discount{
    color: $g-price-color;
    width: rem(70px);
    h3{
      font-size: rem(22px);
      text-align: center;
    }
    p{
      text-align: center;
      font-size: rem(12px);
    }
  }
  .info{
    .vid{
      font-size: rem(12px);
    }
  }
  .use-btn{
    height: rem(26px);
    text-align: center;
    line-height: rem(26px);
    width: rem(70px);
    background-color: $btn-primary-color;
    font-size: rem(13px);
    color: #fff;
    border-radius: rem(30px);  
  }
  .instruction{
    padding: rem(5px) rem(14px);
    background-color: #f6f6f6; 
  }
}